Import Pandas to deal with Files and dataset

In [1]:
#importing the needed libraries
import pandas as pd

Loading the CSV into Data frame

In [2]:
#Loading Dataset
dataset = pd.read_csv("Salary_Data.csv");

In [3]:
#Displaying the dataset
dataset[0:5]

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

Split the data into Input and Output variable

In [4]:
#Splitting dependent and independent variable
independent = dataset[["YearsExperience"]]
dependent = dataset[["Salary"]]

In [5]:
independent[0:5]

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [6]:
dependent[0:5]

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0

Split the Input and Output Data into Train and Test Data

In [7]:
#Splitting training and test set.
from sklearn.model_selection import train_test_split

In [8]:
x_train, x_test, y_train, y_test = train_test_split(independent, dependent, test_size = 0.30, random_state = 0)

Create the Simple Linear Regression Model

In [9]:
#Importing the package that has the Linear Regression Class
from sklearn.linear_model import LinearRegression

In [10]:
regressor = LinearRegression()
regressor.fit(x_train, y_train) # weight and bias would be calculated here during the fit call

LinearRegression()

In [13]:
#To get the calculated slope
weight = regressor.coef_
weight

array([[9360.26128619]])

In [15]:
#To get the calculated intercept
bias = regressor.intercept_
bias

array([26777.3913412])

Model Evaluation

In [16]:
#Evaluting the performance of the model
y_pred = regressor.predict(x_test)

Calculating the R Square Value

In [17]:
#Importing R Square module from Sklearn
from sklearn.metrics import r2_score

In [19]:
r_score = r2_score(y_test, y_pred)
r_score #Value between 0 to 1. 1 is very good. 0 is bad

0.9740993407213511

Saving the best model

In [20]:
#Pickle is used to save the model
import pickle

In [21]:
#Need to save the final model to a file
filename = "finalized_model_linear.sav" #.sav pickle extension to save
pickle.dump(regressor,open(filename, 'wb')) # 'wb' - Write binary

How to load saved model

In [24]:
loaded_model = pickle.load(open("finalized_model_linear.sav", 'rb'))
loaded_model.coef_

array([[9360.26128619]])

Test the loaded model

In [26]:
years_of_exp = int(input("Enter the years of experience"))

Enter the years of experience 15

In [29]:
result = loaded_model.predict([[years_of_exp]])
result

C:\Users\PRIYA DHARSHINI\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])