In [27]:
# Pandas
    # Used to work with data set. It has function for analysing, cleaning, exploring, and Manipulating Data
    # Used to load the csv file data to a Dataset
# Import Pandas library.
import pandas as pd

In [28]:
# Load the data from csv file to a data set
dataset = pd.read_csv("Salary_Data.csv")
dataset[0:5]

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [38]:
# Split the dataset into Input (independent Variable) and Output (dependent Variable)
dependent = dataset[["Salary"]] # Should always be 2D array [[]]
independent = dataset[["YearsExperience"]] # Should always be 2D array [[]]

In [39]:
dependent[0:5]

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0

In [40]:
independent[0:5]

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

In [41]:
# Splitting the data set into Test and Train Data

In [42]:
# Sklearn 
    # Contains model_selection package which splits the data set into test and train set
    # Function name is train_test_split()

# Importing train_test_split function from sklearn library
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(independent, dependent, test_size = 0.3, random_state = 0)

# test_size - Size of the data needed to be kept as test data set. 0.3 is 30%
# random_state - parameter in train_test_split that controls the random number generator used to shuffle the data before splitting it

In [43]:
# Linear Regression Model Creation

In [44]:
# Sklearn 
    # Contains linear_model package which contains the LinearRegression class
    # An object is created for the LinearRegression class

# Importing LinearRegression class from sklearn library
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [47]:
# With object created for the Linear Regression model, we are trying to fit the train data
# The weight and the bias will be calculated
regressor.fit(x_train, y_train)
print("Weight/Slope : " , regressor.coef_)
print("Intercept/Bias : " ,  regressor.intercept_)

Weight/Slope :  [[9360.26128619]]
Intercept/Bias :  [26777.3913412]

In [51]:
# Model prediction with out test data
y_pred = regressor.predict(x_test)

In [52]:
# Evaluating the model performance

In [54]:
# Sklearn 
    # Contains metrics package which contains the r2_score function
    # This r2 score is used to find the models perfromace.
    # Value will be between 0 to 1. O -> Very poor; 1 -> Very Good

# Importing r2_score function from sklearn library
from sklearn.metrics import r2_score
r_score = r2_score(y_pred, y_test)
print("The R Square score is : ", r_score)

The R Square score is :  0.9710122289422968

In [55]:
# Saving the best model

In [57]:
# Pickle
    # It is a function used to dump a model to a file.
    # Load a model from a file etc.

import pickle
filename = "Finalized_model_linear.sav"
pickle.dump(regressor, open(filename, 'wb')) #wb is write binary

In [58]:
# Load the saved best model

In [59]:
model = pickle.load(open("Finalized_model_linear.sav", 'rb')) #rb is read binary
model.predict([[15]])

C:\Users\PRIYA DHARSHINI\anaconda3\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[167181.3106341]])